[submodule "external/emacZero"]
	path = external/emacZero
	url = https://github.com/lcapossio/emacZero.git
	branch = main
[submodule "fcapz"]
	path = fcapz
	url = https://github.com/lcapossio/fpgacapZero
[submodule "external/VexRiscv"]
	path = external/VexRiscv
	url = https://github.com/SpinalHDL/VexRiscv.git
